
<body>

    <header>
        <h1>Admin Panel - Waiter Scheduling App</h1>
    </header>


    

<div class="waiterKey"><div class="waiters-list">
            <h2>Waiters</h2>
            <ul>
                {{#each waiterNames}}
                <li>{{username}}</li>
                {{/each}}
            </ul>
        </div>
   

     <div class="key-container">
            
            <p class="enough"> Enough waiters</p>
                        <p class="many">Too many waiters</p>
                                    <p class="few">Few waiters</p>
        </div>
    </div>
</div>
<script>
        // Clear the error message after 3 seconds 
        setTimeout(function () {
            document.querySelector('.reset-message').style.display = 'none';
        },
            3000);
    </script>
    {{#if reset}}
    <div class="reset-message">{{ reset }}</div>
    {{/if}}

    <div class="container2">
        <form action="/days" method="post"></form>

        <table>
            <tr>

                <th>Weekdays</th>
                <th>Waiters</th>

            </tr>

            <tr>
                <td>Monday </td>
                <td class="{{selectedWeekdays.Monday.colour}}">{{selectedWeekdays.Monday.waiters}}</td>
            </tr>

            <tr>
                <td>Tuesday </td>
                <td class="{{selectedWeekdays.Tuesday.colour}}">{{selectedWeekdays.Tuesday.waiters}}</td>
            </tr>
            <tr>
                <td>Wednesday </td>
                <td class="{{selectedWeekdays.Wednesday.colour}}">{{selectedWeekdays.Wednesday.waiters}}</td>
            </tr>
            <tr>
                <td>Thursday </td>
                <td class="{{selectedWeekdays.Thursday.colour}}">{{selectedWeekdays.Thursday.waiters}}</td>
            </tr>
            <tr>
                <td>Friday </td>
                <td class="{{selectedWeekdays.Friday.colour}}">{{selectedWeekdays.Friday.waiters}}</td>
            </tr>
            <tr>
                <td>Saturday </td>
                <td class="{{selectedWeekdays.Saturday.colour}}">{{selectedWeekdays.Saturday.waiters}}</td>
            </tr>
            </tr>
            <tr>
                <td>Sunday </td>
                <td class="{{selectedWeekdays.Sunday.colour}}">{{selectedWeekdays.Sunday.waiters}}</td>
            </tr>



        </table>

        
 </div>
       

 <form action="/reset" method="post">

            <button class="btn" type="submit"
                onclick="return confirm('Are you sure you want to reset your data?')">Reset</button>
        </form>
</body>

</html>